h1, p{
    text-align: center;
    font-family: sans-serif;
}
.imgs{
    width: 150px;
    height: 120px;
    padding-left: 5%;

}
ol{
    padding-left: 20%;
}
#imagenperro{
    padding-left: float;
}
body {
    background:url("img/backgroud.jpg" );
}

.tele{
    text-align:center;
}
ol{
    vertical-align: middle;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  font-size: 16px;
  background-image: src="img/backgroud";
}

.sidebar {
  position: fixed;
  width: 10%;
  height: 100vh;
  background: #343434;
  font-size: 1.65em;
}

.nav {
  position: relative;
  margin: 0 10%;
  text-align: right;
  top: 10%;
  transform: translateY(-50%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
  
  li {
    position: relative;
    margin: 3.2em 0;
    
    a {
      line-height: 5em;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.4em;
      color: rgba(#FFF, 0.35);
      display: block;
      transition: all ease-out 300ms;
    }
    
    &.active a {
      color: white;
    }
    
    &:not(.active)::after {
      opacity: 0.2;
    }
    
    &:not(.active):hover a {
      color: rgba(#FFF, 0.75);
    }
    
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0.2em;
      background: black;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(to right, #343434, #b74e91)
    }
  }
}
.content{
    padding-left: 10%;
}

#caja2gato{
    background-color: #b6152b;
}
#caja1perro{
    background-color: rgb(65, 204, 128);
}